/* 
  INJECTED VARIABLES
  
  --preloader-delay
  --col-width
  --col-duration
  --col-delay
  --letter-duration
  --letter-delay 
*/

.preloader-container {
  z-index: 100;
  background-color: transparent;
  position: fixed;
  inset: 0;
  display: flex;
  animation: hide-preloader 0.1s linear var(--preloader-delay) forwards;
}

.curtain-col {
  background-color: black;
  width: var(--col-width);
  height: 100%;
  animation: slide-down var(--col-duration) cubic-bezier(0.85, 0, 0.15, 1) var(--col-delay) both;
}

.preloader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.letter {
  color: white;
  font: var(--h1);
  font-size: clamp(3.5rem, 12vw, 12rem);
  line-height: 1.2em;
  display: inline-block;
  animation: reveal-letter var(--letter-duration) cubic-bezier(0.4, 0, 0.2, 1) var(--letter-delay) both;
}

@keyframes hide-preloader {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes reveal-letter {
  0% {
    transform: translateY(120%);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
    opacity: 1; /* Pops up quickly */
  }
  75% {
    transform: translateY(0);
    opacity: 1; /* Holds on screen */
  }
  80% {
    transform: translateY(0);
    opacity: 0.5; /* Holds on screen */
  }
  100% {
    transform: translateY(0);
    opacity: 0; /* Fades out */
  }
}
