.skills-section {
  padding: var(--space-3xl) 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-header {
  margin-bottom: var(--space-xxl);
}

/* --- THE GRID LAYOUT --- */
.skills-category-wrapper {
  display: grid;
  grid-template-columns: 1fr; /* Mobile-First: Stacks perfectly */
  gap: var(--space-m);
  margin-bottom: var(--space-l); 
  /* border-bottom: 0.125rem solid var(--clr-border); */
  padding: var(--space-xl)
}

@media (min-width: 768px) {
  .skills-category-wrapper {
    /* Desktop: 4 columns for title, 8 columns for skills */
    grid-template-columns: 4fr 8fr; 
    gap: var(--space-xxl);
  }
}

/* --- TYPOGRAPHY & ITEMS --- */
.skills-category-title {
  text-transform: uppercase;
  margin: 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  align-items: center;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  
  /* font: var(--bigui); 
  text-transform: capitalize;
  color: var(--text-primary); */
  
  /* Retains the smooth hover interaction */
  transition: transform var(--transition-fast), color var(--transition-fast);
  cursor: default;
}

.skill-item:hover {
  transform: translateY(-4px); 
  color: var(--clr-primary);   
}

.skill-icon {
  height: 2.5rem;
  width: auto;
  object-fit: contain;
}

.skill-icon[alt="ExpressJS"] {
  background-color: white;
  border-radius: 1rem; 
  padding: 0.25rem; 
}