.banner-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner-content {
  /* flex: 5; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .banner-content {
    width: 60%;
  }
}

.gradient-title {
  display: inline-block;
}

@keyframes gradient-pan {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

.gradient-title ~ span {
  margin-left: clamp(0rem, 2vw, 1.6rem);
}

.banner-description {
  margin-top: 1.5rem;
}

.my-name {
  color: var(--clr-primary);
}

.banner-stat {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 10%;
}

@media (min-width: 768px) {
  .banner-stat {
    left: auto;
    right: 1.5rem;
  }
}