.banner-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.banner-content {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .banner-layout {
    justify-content: center;
  }

  .banner-content {
    margin-top: 0;
    width: 55%;
  }
}

.gradient-title {
  display: inline-block;
}

.gradient-title ~ span {
  margin-left: clamp(0rem, 2vw, 1.6rem);
}

.banner-description {
  margin-top: 2rem;
}

.my-name {
  color: var(--clr-primary);
}

.banner-stat {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 10%;
}

@media (min-width: 768px) {
  .banner-stat {
    left: auto;
    right: 1rem;
    max-width: 25%;
  }
}

.banner-buttons {
  margin-top: 1.7rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 768px) {
  .banner-buttons {
    width: 80%;
  }
}
